CONFIG_SLAVE_IDF_TARGET_ESP32C6=n
CONFIG_SLAVE_IDF_TARGET_ESP32C5=y
CONFIG_ESP_HOSTED_CP_TARGET_ESP32C6=n
CONFIG_ESP_HOSTED_CP_TARGET_ESP32C5=y
CONFIG_ESP_HOSTED_P4_DEV_BOARD_FUNC_BOARD=n
CONFIG_ESP_HOSTED_P4X_C5_DEV_BOARD_FUNC_BOARD=y
CONFIG_ESP_HOSTED_SDIO_RESET_ACTIVE_HIGH=n
CONFIG_ESP_HOSTED_SDIO_RESET_ACTIVE_LOW=y
